<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:p="http://www.springframework.org/schema/p"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.entity.User" init-method="myInit" destroy-method="myDestroy">
        <property name="username" value="wangchen"></property>
    </bean>

    <bean id="user1" class="com.beanfactory.UserFactoryBean">
        <property name="username" value="wangchen"></property>
    </bean>

    <bean id="user4" class="com.entity.User">
        <property name="username" value="wangchen"></property>
        <property name="car" value="red,10000"></property>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.entity.Car" value="com.editor.CarEditor"></entry>
            </map>
        </property>
    </bean>

    <!-- 方法前 -->
    <bean id="greetingBeforeAdvice" class="com.advice.GreetingBeforeAdvice"></bean>
    <!-- 方法后 -->
    <bean id="greetingAfterAdvice" class="com.advice.GreetingAfterAdvice"></bean>
    <!-- 环绕 -->
    <bean id="greetingAround" class="com.advice.GreetingInterceptor"></bean>

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="greetingAround,greetingBeforeAdvice,greetingAfterAdvice"/>
        <property name="target">
            <bean class="com.advice.NaiveWaiter"></bean>
        </property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!-- 引介 -->
    <bean id="pmonitor" class="com.introduce.ControllablePerformanceMonitor"/>

    <bean id="forumServiceProxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="singleton" value="true"></property>
        <property name="interfaces">
            <array>
                <value>com.introduce.Monitorable</value>
                <value>com.introduce.Say</value>
            </array>
        </property>
        <property name="target">
            <bean class="com.proxy.service.ForumServiceImpl" />
        </property>
        <property name="interceptorNames" value="pmonitor"></property>
        <!-- 指定cglib 代理 -->
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!-- target -->
    <bean id="waiterTarget" class="com.advisor.Waiter"/>
    <bean id="sellerTarget" class="com.advisor.Seller"/>

    <!-- advice -->
    <bean id="greetingAdvice" class="com.advisor.GreetingBeforeAdvice"/>

    <!-- advisor -->
    <bean id="greetingAdvisor" class="com.advisor.GreetingAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
    </bean>

    <!-- parent template -->
    <bean id="parent" abstract="true" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="greetingAdvisor"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <bean id="waiterAdvisor" parent="parent">
        <property name="target" ref="waiterTarget"></property>
    </bean>

    <bean id="sellerAdvisor" parent="parent">
        <property name="target" ref="sellerTarget"></property>
    </bean>

    <!-- 正则表达式切面 -->
    <bean id="regexpAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
        <property name="patterns">
            <list>
                <value>.*greet.*</value>
            </list>
        </property>
    </bean>

    <bean id="waiterRegex" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="regexpAdvisor"></property>
        <property name="target" ref="waiterTarget"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!-- 动态切面 -->
    <bean id="dynamicAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
        <property name="pointcut">
            <bean class="com.advisor.GreetingDynamicPointcut"></bean>
        </property>
    </bean>

    <bean id="waiterDynamic" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="dynamicAdvisor"></property>
        <property name="target" ref="waiterTarget"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!-- 流程切点 -->
    <bean id="controlFlowPointcut" class="org.springframework.aop.support.ControlFlowPointcut">
        <!-- 流程切点、类 -->
        <constructor-arg type="java.lang.Class" value="com.advisor.WaiterDelegate"></constructor-arg>
        <!-- 流程切点、方法 -->
        <constructor-arg type="java.lang.String" value="service"></constructor-arg>
    </bean>

    <!-- 流程切面 -->
    <bean id="controlFlowAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
        <property name="pointcut" ref="controlFlowPointcut"></property>
    </bean>

    <bean id="waiterControlFlow" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="interceptorNames" value="controlFlowAdvisor"></property>
        <property name="target" ref="waiterTarget"></property>
        <property name="proxyTargetClass" value="true"></property>
    </bean>

    <!-- 复合切面 -->
    <bean id="composableAdvisor" class="org.springframework.aop.support.DefaultPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
        <property name="pointcut" value="#{gcp.intersectionPointcut}"></property>
    </bean>

    <bean id="gcp" class="com.advisor.GreetingComposablePointcut"></bean>

    <bean id="waiterComposable" class="org.springframework.aop.framework.ProxyFactoryBean"
        p:interceptorNames="composableAdvisor"
        p:target-ref="waiterTarget"
        p:proxyTargetClass="true"/>

    <!-- 引介切面 -->
    <bean id="introduceAdvisor" class="org.springframework.aop.support.DefaultIntroductionAdvisor">
        <constructor-arg ref="pmonitor"></constructor-arg>
    </bean>

    <bean id="forumServiceImpl" class="com.proxy.service.ForumServiceImpl"/>

    <bean id="forumServiceAdvisor" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="introduceAdvisor"
          p:target-ref="forumServiceImpl"
          p:proxyTargetClass="true"/>

    <!-- target -->
    <bean id="waiterTargetCreator" class="com.advisor.Waiter"/>
    <bean id="sellerTargetCreator" class="com.advisor.Seller"/>

    <!-- BeanNameAutoProxyCreator -->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator"
          p:beanNames="*erTargetCreator"
          p:interceptorNames="greetingAdvice"
          p:proxyTargetClass="true"/>

    <!-- target -->
    <bean id="waiterTargetAdvisor" class="com.advisor.Waiter"/>
    <bean id="sellerTargetAdvisor" class="com.advisor.Seller"/>

    <!-- DefaultAdvisorAutoProxyCreator -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" p:proxyTargetClass="true"/>

    <bean class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice" ref="greetingAdvice"></property>
        <property name="patterns">
            <list>
                <value>.*To.*</value>
            </list>
        </property>
    </bean>

    <!-- 装配器 -->
    <bean class="com.aop.BeanSelfProxyAwareMounter"/>
    <!-- 装配器管理 -->
    <bean class="com.aop.SystemBootManager"/>

</beans>